.parent {
   position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

//   body{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

.mat-mdc-form-field {
    padding: 15px 250px;
}