.sidebar {
    height: 100%;
    width: 250px;

   // position: absolute;
    top:0;
    left: 0;
    
    background-color: #111;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 100px;
  
    .sidebar-list {
     //   display: flex;
      list-style-type: none;
      padding: 5px 20px;
  
      li {
        padding: 20px 30px  ;
  
        a {
          text-decoration: none;
          color: #818181;
          display: block;
          font-size: 1.2em;
  
          &:hover {
            color: #f1f1f1;
          }
        }
      }
    }
  }